<div class="container">
    <div class="card">
        <div class="card-header Header">
            Error: 403
        </div>
        <div class="card-body Card">
            <h5 class="card-title Title">
                <fa-icon [icon]="faExclamationTriangle" class="faExclamationTriangle"></fa-icon>
                Acceso denegado
            </h5>
            <p  class="card-text">Lo siento, su acceso es denegado por razones de seguridad de nuestro servidor y también
                de nuestros datos sensibles. Por favor, vuelva a la página anterior para continuar la navegación.
            </p>
            <a [routerLink]="['']" class="btn btn-light">Volver</a>
        </div>
    </div>
</div>
