.container
    margin-top 2em
.Header
    font-weight bold
    font-size 1.3em
    background #338276
    color white

.faExclamationTriangle
    color yellow

.Title
    color white
    font-weight bold
    font-size 2em

.Card
    background #F47228
    color white
