/*VARS*/
colorVerde = #424242


.ng-fa-icon
  color white

li
    margin-top .2em
a
    color white !important

   
/*CODE MAIN BY ASIDE FIXED*/
.sidebar
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color colorVerde
    padding-top: 2.55em 
    padding-bottom: .45em

li > a
    border-radius 3.2px


/*RESPONSIVE SIDEBAR*/
.nav-link
    padding: .5em 1em .5em 1.2em

.sidebar-resposive
    position: fixed;
    top: 0;
    bottom: 0;
    width: 4em;
    background-color colorVerde
    text-align: center !important

.align-item
    float right

.ani-leader, .ani-leader1
    transition-duration: 0.2s

.ani-leader1:hover
    transform scale(1.0)
    background-color #1b1b1b
    padding .6em

//hovers
li > a
    border-radius 2px
    margin-top 5px

li > a:hover
    transform-scale (1.2)



