<div class="panel-primary">
    <h2 class="text-center font-weight-bold tittle-main">Creacion de jugador</h2>
</div>
<div class="container">
    <!--·#Region send form detail User-->
    <div class="">
        <form [formGroup]="userFormGroup" novalidate (ngSubmit)="postUser()">

            <!--#FIELD FOR DOCUMENT TYPE-->
            <div class="form-group">
                <label for="formGroupExampleInput">Nombre </label>
                <input type="text" autocomplete="offset"  class="form-control"
                    id="documentNumber" formControlName="nombre" name="nombre">
                <div
                    *ngIf="userFormGroup.get('nombre').invalid &&
                    (userFormGroup.get('nombre').dirty || userFormGroup.get('nombre').touched)">
                    <div *ngIf="userFormGroup.get('nombre').errors.required">
                        <p class="error-validate">El campo es requerido</p>
                    </div>
                  
                </div>
            </div>

            
            <div class="form-group">
                <label for="formGroupExampleInput">Username </label>
                <input type="text" autocomplete="offset"  class="form-control" id="username"
                    formControlName="username" name="username">
            
                <div
                    *ngIf="userFormGroup.get('username').invalid &&
                                (userFormGroup.get('username').dirty || userFormGroup.get('username').touched)">
                    <div *ngIf="userFormGroup.get('username').errors.required">
                        <p class="error-validate">El campo es requerido</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput">Saldo </label>
                <input type="number" autocomplete="offset"  class="form-control" id="saldo"
                    formControlName="saldo" name="saldo">
            
                <div
                    *ngIf="userFormGroup.get('saldo').invalid &&
                                            (userFormGroup.get('saldo').dirty || userFormGroup.get('saldo').touched)">
                    <div *ngIf="userFormGroup.get('saldo').errors.required">
                        <p class="error-validate">El campo es requerido</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">Password</label>
                <input type="password" autocomplete="offset" class="form-control"
                    id="password" formControlName="password" name="password">
            
                <div
                    *ngIf="userFormGroup.get('password').invalid &&
                                                        (userFormGroup.get('password').dirty || userFormGroup.get('password').touched)">
                    <div *ngIf="userFormGroup.get('password').errors.required">
                        <p class="error-validate">El campo es requerido</p>
                    </div>
                </div>
            </div>  
            <div class="form-group">
                <label for="formGroupExampleInput">Rol</label>
                <select class="form-control" formControlName="rolsUsers" name="rolsUsers">
                    <option value=1>Administrador</option>
                    <option value=2>User</option>
                </select>
                <div
                    *ngIf="userFormGroup.get('rolsUsers').invalid && (userFormGroup.get('rolsUsers').dirty || userFormGroup.get('rolsUsers').touched)">
                    <div *ngIf="userFormGroup.get('rolsUsers').errors.required">
                        <p class="error-validate">El campo es requerido</p>
                    </div>
                </div>
            </div>
           
    
            <div class="w-100 text-center buttons ">
                <button type="submit" class="btn btn-primary button-send">Enviar Datos</button>
                <button type="submit " class="btn btn-primary button-back"
                    onclick="history.back()">Regresar</button>
            </div>
        </form>
    </div>
</div>