<!--BEING NAV BAR-->
<div class="container-nav-bar sltyle-borders fixed-top">
  <nav class="row nav-bar">

    <!--SAFI and changeEvent()-->
    <div class="col-6 container-icons-left">
      <a>
        <fa-icon class="icon-open-sidebar" (click)="changeEvent()" [icon]="faGripLines"></fa-icon>
        <a class="name-safi">RuletaApp</a>
      </a>
    </div>
    <!--SAFI and changeEvent()-->

    <div class="col-6 container-icons-right">

      <p class="d-inline"> <b>saldo: {{saldo}} </b> </p>
      <!--dropdown info user-->
      <div class="dropdown show text-right div-user-content">
        <a class="dropdown-toggle account-info" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          
          <fa-icon [icon]="faUser"></fa-icon>
        </a>

        <div class="dropdown-menu menu-user" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item">{{ nameUser }}</a>
          <a *ngFor="let item of authorities" class="dropdown-item">
            <span *ngIf="item == 'ROLE_ADMIN'">Administrador</span>
            <span *ngIf="item == 'ROLE_USER'">User</span>
          </a>
          <a class="dropdown-item" (click)="logout()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
          </a>
        </div>
      </div>
      <!--dropdown info user-->

    </div>
  </nav>
  <!--END NAV BAR-->
</div>