<div class="container formContainer">
    <div class="d-flex justify-content-center align-items-center">
        <h2 class="text-center m-2"> Ruleta Game</h2>
        <img src="../../../assets/img/roulette.png" alt="" height="20" width="20">
    </div>
    
    <form class="formGroup">
        <label for="">Ingresa el valor apostar</label>
        <input type="number" name="saldo" class="form-control" [(ngModel)]="eleccion.saldo" placeholder="Elige un valor entre {{minValue}} y {{maxValue}}  ">
        <label for="" class="mt-2">Elige el color :</label>
        <select  name="color" class="form-control" [(ngModel)]="eleccion.color">
            <option value="r">Rojo</option>
            <option value="n">Negro</option>
            <option value="v">Verde</option>
        </select>
        <button class="btn-primary m-2" (click)="confirm()">Confirmar</button> <small class="verde"> {{todoOK}} </small>
    </form>

</div>
