<div class="container-fluid pb-5">
    <div class="container-lg">
        <h4 class="title-page text-center tittle-search">Jugadores</h4>
    </div>


    <div class="container-fluid">
        <div class="row">
            <table class="table table-bordered">
                <thead class="thead-table">
                    <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Username</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <!---->
                <tbody>
                    <tr class="detailUserList" *ngFor="let item of detailUserList">
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.saldo }}</td>
                        <td>{{ item.estado}}</td>
                        <td class="icons">
                            <a type="button">
                                <fa-icon [routerLink]="['./update', item.id]"
                                class="pr-1" [icon]="faPen"></fa-icon>
                            </a>
                            <a type="button" (click)="deleteUser(item.id)"> 
                                <fa-icon class="pr-1" [icon]="faTrash">
                                </fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--End Start selection with detail user with information-->
        <!--Start selection with detail user with information is pagination-->
        <div class="container-text-center">
            <button *ngFor="let item of listPage; index as i" (click)="loadingPagination(i, pageSize)"
                class="btn btn-xs btn-light" type="button">{{ i + 1 }}</button>
        </div>
    </div>
</div>