<div class="container-fluid pb-5">
    <div class="container text-center">
        <div class="row">
            <!--·#Region send form detail User-->
            <div class="col-lg-6">
                <h3 class="text-center tittle-first">Actualizar Usuario</h3>
                <form [formGroup]="userFormGroupUpdate" novalidate (ngSubmit)="postUser()">
                    <!--#FIELD FOR DOCUMENTTYPE-->
                  
                    <div class="form-group w-100">
                        <label for="formGroupExampleInput">Username </label>
                        <input type="text" class="form-control"
                            formControlName="username" autocomplete="offset" name="username">
                        <div
                            *ngIf="userFormGroupUpdate.get('username').invalid &&
                            (userFormGroupUpdate.get('username').dirty || userFormGroupUpdate.get('username').touched)">
                            <div *ngIf="userFormGroupUpdate.get('username').errors.required">
                                <p class="error-validate">El campo es requerido</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group w-100">
                        <label for="formGroupExampleInput">Saldo </label>
                        <input type="number" class="form-control" formControlName="saldo" autocomplete="offset" name="saldo">
                        <div
                            *ngIf="userFormGroupUpdate.get('saldo').invalid &&
                                                (userFormGroupUpdate.get('saldo').dirty || userFormGroupUpdate.get('saldo').touched)">
                            <div *ngIf="userFormGroupUpdate.get('saldo').errors.required">
                                <p class="error-validate">El campo es requerido</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group w-100">
                        <label for="formGroupExampleInput">Password </label>
                        <input type="text" class="form-control" formControlName="password" autocomplete="offset" name="password">
                        <div
                            *ngIf="userFormGroupUpdate.get('password').invalid &&
                                                (userFormGroupUpdate.get('password').dirty || userFormGroupUpdate.get('password').touched)">
                            <div *ngIf="userFormGroupUpdate.get('password').errors.required">
                                <p class="error-validate">El campo es requerido</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group w-100">
                        <label for="formGroupExampleInput">Nombre </label>
                        <input type="text" class="form-control" formControlName="nombre"
                            autocomplete="offset" name="nombre">
                        <div
                            *ngIf="userFormGroupUpdate.get('nombre').invalid &&
                                                (userFormGroupUpdate.get('nombre').dirty || userFormGroupUpdate.get('nombre').touched)">
                            <div *ngIf="userFormGroupUpdate.get('nombre').errors.required">
                                <p class="error-validate">El campo es requerido</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Rol</label>
                        <select class="form-control" formControlName="rolsUsers" name="rolsUsers">
                            <option selected="selected" value="2">seleccione una opcion</option>
                            <option value=1>Administrador</option>
                            <option value=2>User</option>
                        </select>
                        <div
                            *ngIf="userFormGroupUpdate.get('rolsUsers').invalid && (userFormGroupUpdate.get('rolsUsers').dirty || userFormGroupUpdate.get('rolsUsers').touched)">
                            <div *ngIf="userFormGroupUpdate.get('rolsUsers').errors.required">
                                <p class="error-validate">El campo es requerido</p>
                            </div>
                        </div>
                    </div>
        
           
                    <div class="w-100 text-center buttons ">
                        <button type="submit" class="btn btn-primary button-send">Enviar Datos</button>
                        <button type="submit" class="btn btn-primary button-back"
                            onclick="history.back()">Regresar</button>
                    </div>
                </form>
                <!--·#Region end send form detail User-->
                <!--·#Region begin send form User data-->
            </div>
        </div>
    </div>
</div>