//CALL CONTAINER
.call-container
    margin: 0
//Container-aside
.aside-res
    position fixed
    margin: 0
//ASIDE RES : OPEN NAV
.asideRes
    transition all 0.2s ease-in-out !important //Animate of close
    width 70px !important

.asideResLg
    transition all 0.2s ease-in-out !important //Animate of close
    width 200px
    padding:  0
//organizacion aside
.container-app
    margin: 43px 0 0 0
    padding: 0
/*FOOTER DESIGN*/
.footer-aside
    position fixed
    bottom 0
    width 100%
    margin-bottom 0
    text-align center
    background-color #fc7323 !important
    vertical-align bottom 

