<!--Nav bar component-->
<app-navbar (openEvent)="cambio($event)" [isActiveNavBar]="isActive"></app-navbar>
<!--/ Nav bar component-->

<!--CONTAINER INFO MAIN-->
<div class="row container-fluid alignment container-app">
    <!--ADSIE LG-->
    <div class="asideResLg alignment d-none d-lg-block" id="aside-main" *ngIf="!isActive"
        [ngClass]="{'asideRes': isActive}">
        <app-aside [isActiveAside]="isActive"></app-aside>
    </div>
    <!--/ ADSIE LG-->
    <!--RESPONSIVE ASIDE-->
    <div class="asideResLg alignment mag-aling" id="aside-main" *ngIf="isActive" [ngClass]="{'asideRes': isActive}">
        <app-aside [isActiveAside]="isActive"></app-aside>
    </div>
    <!--RESPONSIVE ASIDE END-->

    <!--CONTAINER INFO MAIN-->
    <div class="col call-container main-router p-0 ">
        <router-outlet></router-outlet>
    </div>
    <!--/ CONTAINER INFO MAIN-->

</div>
