html
    min-height 100%
    position relative
body
    margin 0
html, body
    font-family 'Times New Roman', Times, serif

#canvas {
    margin: auto !important;
    display:block !important;
    width: 250px;
    height: 250px;
}

#prizePointer {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 21em;
}