<div class="container-fluid">
   
    <div class="d-flex align-items-center">
        <p class="m-0">Nuevo usuario</p>
        <a class="btn btn-light" [routerLink]="['detail-user-create']"> 
            <fa-icon [icon]="faPlusCircle"></fa-icon>
        </a>

    </div>
</div>
<router-outlet></router-outlet>